<section class='page'>
  <%= content_tag :h1, Time.now < abstract_deadline ? 'Submit an abstract' : 'Edit your abstract(s)' %>
  <h3>Deadline <span class='alert'><strike>April&nbsp;29, 5:00 PM</strike></span> <span class='alert'>May&nbsp;3, 5:00 PM PDT</span></h3>
  
  <%= content_tag :p, raw("The deadline has now passed.  You may make modifications to your abstract until <b>May&nbsp;6, 12:00 PM</b>"), class: 'alert-info' if Time.now > abstract_deadline %>
  
	<p>
    We invite original contributions from undergraduates, graduate students, post docs, and faculty in any area of bioengineering and biomedical engineering, including but not limited to:
    <em>Bioengineering Analysis of Disease</em>,
    <em>Bioinformatics</em>,
    <em>Biomaterials</em>,
    <em>Biomechanics &amp; Biophysics</em>,
    <em>Biomedical Devices</em>,
    <em>BioMEMS</em>,
    <em>Biosensors</em>,
    <em>Cardiovascular Engineering</em>,
    <em>Cell Mechanics and Engineering</em>,
    <em>Computational Biology</em>,
    <em>Drug Delivery</em>,
    <em>Genomics and Genomic–wide Analysis</em>,
    <em>Imaging</em>,
    <em>Microcirculation and Tissue Transport</em>,
    <em>Modeling and Multiscale analysis</em>,
    <em>Metabolic Engineering</em>,
    <em>Nanobiotechnology</em>,
    <em>Stem Cell Engineering</em>,
    <em>Synthetic Biology</em>,
    <em>Systems Biology</em>, and
    <em>Tissue Engineering</em>.
  </p>

  <p>If you wish to present a poster, please submit an abstract for your work by May 3 at 5:00 PM PDT. While there is no explicit limit on abstract length, you should keep them within a reasonable length (&lt; 2,300 characters). You have the option of presenting your poster on a flat screen TV (in lieu of a printed poster) if you include dynamic content (e.g. movies, animations, etc.) for a nominal fee of $40.</p>

  <p class='alert'><b>Abstract Screening</b>: All abstracts will be accepted except those that contain commercial or blatantly inappropriate content. In the event that an abstract is rejected for such content we will refund your registration fee if you no longer wish to attend the conference.</span></p>

  <p>You also have the option of being considered for giving an oral presentation at one of the oral sessions (see Program) when submitting your abstract. We will notify you by mid May if your abstract has been accepted for an oral presentation, otherwise you will still be able to present a poster.</p>
  
  <p>You must first <%= link_to "register", register_url, :class => 'alert-info' %> for the event before you can submit your abstract.  Once registered, enter the email associated with Eventbrite and your order # (ex. 5146078058-165538432) in the form below.</p>
  
  <%= render "submit_form" %>
</section>