<section class='page'>
  <h1>Submitting an abstract</h1>
  
  <p>An additional "ticket" for a flat screen display rental can be purchased during the registration process or at anytime until the start of the event. All abstracts are due by <span class='alert-info'>April&nbsp;29</span>.</p>
  <p>You must first <%= link_to "register", register_url, :class => 'alert-info' %> for the event before you can submit your abstract.  Once registered, enter the email associated with Eventbrite and your order ID (e.g. 132147645) in the form below.</p> 
  
  <%= render "submit_form" %>
</section>