<h1><%= Time.now.year %> Event Registration</h1>

<div class="alert-block alert">
    <h4><b>Notice</b></h4>
    <p>Registration fees will increase by $25 after May 19.  Late fee of $25 applied after June 12.</p>
</div>

<div style="height:530px; width:100%; text-align:left; overflow:hidden;" >
    <iframe src="http://www.eventbrite.com/tickets-external?eid=5146078058&ref=etckt&v=2" frameborder="0" height="530" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="no" allowtransparency="true" style='margin-top:-38px;'></iframe>
</div>