<section>
  <h1>Submit an Abstract</h1>

  <%- if Time.now < abstract_deadline -%>
    <%= render 'form' %>
  <%- else -%>
    <div class='alert'>
      <p>The deadline for submitting a new abstract has passed.</p>
    </div>
  <%- end -%>
  
  <%= link_to 'Back', abstracts_path,  :class => 'btn btn-small' %>  
</section>