<% title "Contact - #{event_title}" %>
<section class='page'>
  <h1>Contact</h1>
  
  <p>If you have any questions, please contact us at <%= mail_to 'bic@ucop.edu' %> or by phone at 858.534.6265.</p>
  
  <h3>Sponsors</h3>
  <p>Thank you for your interest in sponsoring our event.  Please use our EventBrite form if you plan to pay via credit card: <%= link_to "http://sponsorbic2013.eventbrite.com/", 'http://sponsorbic2013.eventbrite.com/' %>, otherwise contact us by email or phone.</p>
</section>