<section class='page'>
  <h1>Thanks</h1>
  
  <p>We have received your registration and have sent you a confirmation email.  If you have any questions, please contact: (<%= mail_to 'iem@ucsd.edu' %>).</p>
  
  <p>If you are a student, you may submit an abstract by adding your email and Eventbrite order ID to the form below.</p>
  
  <%= render "abstracts/submit_form" %>
  
</section>