<header>
  <div  class='well done'>
    <div class='inner'>
      <h1><%= link_to "14th UC Systemwide Bioengineering Symposium", 'http://bic.ucop.edu/2013' %></h1>
      <h2>Celebrating the 10th anniversary of the <%= link_to 'Bioengineering Institute of California', 'http://bic.ucop.edu' %></h2>
      <p>June 19-21, 2013 &#8226; UC San Diego</p>
    </div>
  </div>
</header>