<h1>Sponsors</h1>

<div class='logo'>
  <%= link_to image_tag("logos/bic.png", :title => "Bioengineering Institute of California"), 'https://bic.ucop.edu' %>
  <hr />
  <%= link_to image_tag("logos/life.png", :title => "Life Technologies"), 'http://www.lifetechnologies.com' %>
  <hr />
  <%= link_to image_tag("logos/research_affairs.png", :title => "Research Affairs"), 'http://research.ucsd.edu' %>
</div>

<%= yield :right %>